@model List<MovieEntity>

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Projekt Aip</p>
</div>

<ul id="ul_movie_image">
    @foreach (var movie in Model)
    {
        <li id="li_movie_image">
            <a href="@Url.Action("Details", new { id = movie.Id })">
                <img src="sciezka/do/obrazka@movie.Id.jpg" alt="@movie.Title">
            </a>
            <h2>@movie.Title</h2>
            <p>Data premiery: @movie.ReleaseDate.ToString("D")</p>
        </li>
    }
</ul>

<style>
    #ul_movie_image {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    #li_movie_image {
        width: 30%;
        margin: 10px;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
</style>
