@page "/home"
@model Models.MovieViewModel

@{
    ViewData["Title"] = "Home page";
}
	
<ul id="ul_movie_image">
    @if (Model != null && Model.Movies != null)
    {
        @foreach (var movie in Model.Movies)
        {
            <li id="li_movie_image">
                <a href="@Url.Action("Details", new { id = movie.Id })">
                    <img src="todo.ico" alt="@movie.Title">
                </a>
                <h2>@movie.Title</h2>
                <p>Data premiery: @movie.ReleaseDate.ToString("D")</p>
            </li>
        }
    }
    else
    {
        <p>Brak dostępnych filmów.</p>
    }
</ul>


<style>
    #ul_movie_image {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    #li_movie_image {
        width: 30%;
        margin: 10px;
        box-sizing: border-box;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
</style>
